body {
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: Tahoma, Geneva, sans-serif;*/
}

#header-wrapper {
    width: auto;
    height: auto;
    
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

#header-wrapper h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #777777;
    
    margin-top: 12px;
}

#header-wrapper h2 a {
    text-decoration: inherit;
    color: inherit;
}

#header-wrapper h2 a:hover {
    text-decoration: underline;
    color: #666666;
}

#title {
    background-color: #e4000f;
    width: 400px;
    height: 96px;
    
    border-radius: 20px;
    border: 4px solid #940404;
    
    margin-left: auto;
    margin-right: auto;
}

#title h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
    margin-top: auto;
    margin-bottom: auto;
}

#nickname {
    display: block;
    text-align: center;
}

#nickname form {
    display: inline-block;
    text-align: left;
    
    margin-left: auto;
    margin-right: auto;
}

#body {
    display: none;
    
    width: 700px;
    height: 700px;
    background-color: #dddddd;
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
}

#leftcol {
    float: left;
    width: 200px;
    height: 100%;
}

#rightcol {
    float: right;
    width: 500px;
    height: 100%;
}

#status {
    width: 100%;
    height: 150px;
}

#status h3 {
    text-align: center;
    
    margin: 4px 0px;
}

#scores {
    width: 100%;
    height: 400px;
}

#scores h3 {
    text-align: center;
    
    margin: 4px 0px;
}

#scores p {
    margin: 4px 0px 0px 4px;
}

#controls {
    width: 100%;
    height: 150px;
}


#mainwindow {
    width: 100%;
    height: 550px;
    background-color: #ffffff;
}

#wikiframe {
    width: 100%;
    height: 100%;
}

#messages {
    width: 100%;
    height: 118px;
    
    overflow-y:scroll;
}

#messages p {
    margin: 4px 0px 0px 4px;
}

#message {
    width: 100%;
    height: 32px;
    
    text-align: center;
}

#message form {
    display: inline-block;
    text-align: left;
    
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

#input-message {
    width: 434px;
}